{{!-- /*
 * Author: Ryne Williams
 * Date: 11/26/2023
 * File: layout.hbs
 * Version: 1.0
 * Description: This file contains the html to link the .css file to the webpages.
 */ --}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title> <!-- dynamically displayed webpage title -->
    <link rel='stylesheet' href='/css/style.css' /> <!-- links the stylesheet to they layout -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
