{{!-- /*
 * Author: Ryne Williams
 * Date: 11/26/2023
 * File: animals.js
 * Version: 1.0
 * Description: This file holds the paths to the error messages for the web application.
 */ --}}

<h1>{{message}}</h1> <!-- dynamically displayed error message -->
<h2>{{error.status}}</h2> <!-- dynamically displayed error status -->
<pre>{{error.stack}}</pre> <!-- dynamically displayed error stack -->
