{{!-- /*
 * Author: Ryne Williams
 * Date: 11/26/2023
 * File: footer.hbs
 * Version: 1.0
 * Description: This file contains the html to dynamically display the footer on the webpages
 */ --}}

<div id="footer"> <!-- footer for the webpage that displays the links for all pages in the webpage -->
    <div>
        <ul class="navigation">
            <li>
                <a href="index.html">Home</a> <!-- link to home page -->
            </li>
            <li>
                <a href="/animal">Search</a> <!-- link to home page -->
            </li>
			<li>
				<a href="about.html">About</a> <!-- link to home page -->
			</li>
			<li>
				<a href="contact.html">Contact</a> <!-- link to home page -->
			</li>
        </ul>
		<div id="connect">
            <a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a> <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
		</div>
	</div>
	<p>
        © 2023 by Grazioso Salvare. All Rights Reserved
	</p>
</div>