{{!-- /*
 * Author: Ryne Williams
 * Date: 11/26/2023
 * File: header.hbs
 * Version: 1.0
 * Description: This file contains the html to dynamically display the header on the webpages.
 */ --}}
 
 <div id="header"> <!-- header for the webpage that displays the links for all pages in the webpage -->
    <div id="logo">
        <a href="index.html"><img src="images/logo.png" alt="LOGO" height="200" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li>
                <a href="index.html">Home</a> <!-- link to home page -->
            </li>
            <li>
                <a href="/animal">Animals</a> <!-- link to animals page -->
            </li>
            <li>
                <a href="about.html">About</a> <!-- link to about page -->
            </li>
            <li>
                <a href="contact.html">Contact</a> <!-- link to contact page -->
            </li>
        </ul>
    </div>
</div>